name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '.vscode/**'
      - 'scripts/**'
      - '**/*.md'
      - '*.code-workspace'

  pull_request:
    branches: [main]
    paths-ignore:
      - '.vscode/**'
      - 'scripts/**'
      - '**/*.md'
      - '*.code-workspace'

jobs:
  version:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version.outputs.fullSemVer }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.15
        with:
          versionSpec: '5.12.0'

      - name: Determine Version
        id: version
        uses: gittools/actions/gitversion/execute@v0
        with:
          useConfigFile: true

  build:
    uses: ./.github/workflows/build.yml
    needs: version
    with:
      version: ${{ needs.version.outputs.version }}

  release:
    uses: ./.github/workflows/release.yml
    if: ${{ github.event_name != 'pull_request' }}
    needs: [build, version]
    with:
      version: ${{ needs.version.outputs.version }}
